
body {
    /* Removed flex-direction row unless you have specific reasons for it */
    margin: 0; /* Reset default margin */
    font-family: Arial, sans-serif; /* Set a default font */
}

#header_wrap {
    width: 100%; /* Ensure the header_wrap takes the full width of the viewport */
    background: #212121; /* Or any other color you want */
}

#header_wrap .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #logo, #profile_picture {
    flex-basis: 20%; /* Adjust the width as needed */
  }
  
  #logo img, #profile_picture img {
    max-width: 100%;
    height: auto;
  }
  
  #title_and_tagline {
    flex-grow: 1;
    text-align: center;
  }
  
  /* Additional styles for the header elements */
  #project_title, #project_tagline {
    margin: 0; /* Removes default margin */
  }
  

nav {
    text-align: center; /* Center the nav if you prefer */
    padding: 20px;
    background-color: #f8f8f8; /* Example background color for the nav bar */
}

nav a {
    margin: 0 10px;
    color: #333; /* Color for your nav links */
    text-decoration: none; /* No underlines on the links */
}

nav a:hover {
    text-decoration: underline; /* Underline on hover for better UX */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #header_wrap .inner {
        flex-direction: column; /* Stack the items vertically on small screens */
        text-align: center; /* Center the text */
    }

    .header-image-left, .header-image-right {
        margin-bottom: 10px; /* Add some space between the image and the next element */
    }

    .header-content {
        order: 2; /* Ensure the content is in the middle */
    }

    .header-image-left {
        order: 1; /* Image on the top */
    }

    .header-image-right {
        order: 3; /* Image on the bottom */
    }
}

