@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind utility classes will handle most of the responsiveness and styling directly within the HTML */

/* These classes help handle the transitions for the scripts.js for the rotating tagline */
@keyframes slideOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.tagline-entering {
  animation: slideInRight 0.5s forwards;
}

.tagline-exiting {
  animation: slideOutLeft 0.5s forwards;
}

/* Background image handling */

/* Mission Section - Desktop Styles */
#mission {
    background-image: url('https://cdn.pixabay.com/photo/2018/07/09/04/19/mt-rainier-3525358_640.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Soft Skills Section - Desktop Styles */
#soft-skills {
    background-image: url('https://cdn.pixabay.com/photo/2016/12/15/07/54/horseshoe-bend-1908283_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Mobile Styles */
@media (max-width: 767px) {
    #soft-skills {
        background-image: url('https://cdn.pixabay.com/photo/2017/04/05/01/12/antelope-canyon-2203676_1280.jpg'); /* Mobile-optimized portrait image */
        background-size: cover; /* Cover ensures the image fully covers the available space */
        background-position: center; /* Center the image to ensure focus is maintained */
        background-attachment: scroll; /* Change to scroll to avoid fixed background issues on iOS */
    }
    /* No changes needed for #mission, as the same styles apply */
}

/* Small Laptop Screens - Between 768px and 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    #soft-skills {
        background-attachment: scroll; /* Enable scrolling for the background */
        background-size: cover; /* Continue to cover the full area */
        min-height: 100vh; /* Ensure the section is at least as tall as the viewport */
    }
    /* No changes needed for #mission, as the same styles apply */
}

