@tailwind base;
@tailwind components;
@tailwind utilities;

/* Profile Picture Styling */
.profile-pic {
  /* Custom styles for the profile picture's oval frame */
  border-radius: 9999px;
  border: 4px solid white;
}

/* Add responsive design for smaller screens */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 3rem; /* Smaller text on mobile devices */
  }
  .profile-pic {
    width: 24rem; /* Smaller profile picture on mobile devices */
    height: 36rem;
  }
}

/* Tailwind utility classes will handle most of the responsiveness and styling directly within the HTML */

@layer base {
  .section-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@layer components {
  .section-transition {
    @apply my-8 py-2 border-t border-b border-gray-600;
  }
}

@layer utilities {
  .grid-layout {
    @apply grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
  }
  .ombre-blue-green {
    background: linear-gradient(120deg, #085FDF, #10821C);
  }
  .ombre-gray-blue {
    background: linear-gradient(120deg, #62676E, #085FDF);
  }
  .ombre-green-gray {
    background: linear-gradient(120deg, #10821C, #62676E);
  }
}


/* Apply this class to each of your section containers */
@keyframes slideOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.tagline-entering {
  animation: slideInRight 0.5s forwards;
}

.tagline-exiting {
  animation: slideOutLeft 0.5s forwards;
}

/* Additional styles */
.section {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  #about div[style*="flex: 1;"] {
    flex: 0 0 33.333%;
  }

  #about div[style*="flex: 2;"] {
    flex: 0 0 66.666%;
  }

  #about .p-4 {
    height: 100%;
  }
}

#about p {
  text-align: left;
  font-size: 1.125rem; /* 18px if the base font size is 16px */
}

#about ul {
  text-align: left;
  font-size: 1rem; /* 16px */
}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  line-height: 1.6;
}

h2, h3 {
  font-family: 'Helvetica Neue', sans-serif;
  color: #444;
}

a, a:visited {
  color: #06c;
}

a:hover {
  color: #03a;
}

/* Spacing for sections */
section {
  margin-bottom: 2rem;
}

/* Contact section styles */
footer {
  background-color: #f5f5f5;
  padding: 2rem 0;
  text-align: center;
}

footer a {
  display: block;
  margin-bottom: 0.5rem;
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }

  h2, h3 {
    text-align: center;
  }

  ul li::before {
    margin-left: 0; /* Adjust icon alignment on mobile */
  }
}

#about h2 {
  color: #222; /* Darker color for better readability */
  margin-bottom: 2rem; /* More space above the title */
}

#about h3 {
  color: #333; /* Slightly lighter than h2 */
  margin-bottom: 1.5rem; /* Space below subtitles */
}

#about p, #about li {
  color: #444; /* Grey color for text to reduce strain */
  line-height: 1.6; /* Increased line height for readability */
}

#about .flex-auto {
  padding: 1rem; /* Spacing around the content */
  display: flex;
  flex-direction: column; /* Stack content vertically */
}

#about .p-4 {
  flex-grow: 1; /* Ensure divs take up full container height */
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: space-between; /* Space out content */
}

@media (max-width: 768px) {
  #about .flex-auto {
    flex: 0 0 100%; /* Full width on smaller screens */
    margin-bottom: 1rem; /* Space between sections */
  }
}

/* Add a subtle shadow to the section to create depth */
#about {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 2rem; /* Space below the section */
}

/* About Section Styling */
#about .personal {
  flex: 1; /* Takes up 1 part of the space */
}

#about .professional {
  flex: 2; /* Takes up 2 parts of the space */
}

/* Ensure background images are rendered correctly */
.bg-cover {
  background-size: cover;
  background-position: center;
}

#mission {
  background-image: url('./assets/Mt-Rainier-Pic.jpeg');
  background-size: cover;
  background-position: center;
}

/* Grid Layout for Experience/Skills Section */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.span-2-columns {
  grid-column: span 2 / auto; /* Spans two columns */
}

.card {
  /* Common styles for all cards */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Stack cards on smaller screens */
  }
  .span-2-columns {
    grid-column: auto; /* Each card takes full width on smaller screens */
  }
}

