@tailwind base;
@tailwind components;
@tailwind utilities;

/* Profile Picture Styling */
.profile-pic {
  /* Custom styles for the profile picture's oval frame */
  border-radius: 9999px;
  border: 4px solid white;
}

/* Add responsive design for smaller screens */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 3rem; /* Smaller text on mobile devices */
  }
  .profile-pic {
    width: 24rem; /* Smaller profile picture on mobile devices */
    height: 36rem;
  }
}

/* Tailwind utility classes will handle most of the responsiveness and styling directly within the HTML */

@layer base {
  .section-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@layer components {
  .section-transition {
    @apply my-8 py-2 border-t border-b border-gray-600;
  }
}

@layer utilities {
  .grid-layout {
    @apply grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
  }
  .ombre-blue-green {
    background: linear-gradient(120deg, #085FDF, #10821C);
  }
  .ombre-gray-blue {
    background: linear-gradient(120deg, #62676E, #085FDF);
  }
  .ombre-green-gray {
    background: linear-gradient(120deg, #10821C, #62676E);
  }
}


/* Apply this class to each of your section containers */
@keyframes slideOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.tagline-entering {
  animation: slideInRight 0.5s forwards;
}

.tagline-exiting {
  animation: slideOutLeft 0.5s forwards;
}

/* Additional styles */
.section {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

